@import '@/styles/variables.scss';

.bottom_sheet {
  position: fixed;
  bottom: -100%;
  width: calc(100% - 8px);
  height: fit-content;
  min-height: 10vh;
  background: $white;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  border-radius: 10px 10px 0 0px;
  box-shadow: 1px 1px 6px rgba($color: $black, $alpha: 0.26);
  transition: 0.4s;
  max-width: 600px;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
  }

  &.open {
    bottom: 0;
  }
}

.overlay {
  &.close {
    display: none;
  }
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: $black, $alpha: 0.26);
}
