@import '@/styles/variables.scss';

.main__header {
  max-width: 600px;
  left: 50%;
  position: absolute;
  height: 60px;
  width: 100%;
  //   background: rgba($color: $white, $alpha: 0.02);
  top: -60px;
  padding: 0 16px;
  //   box-shadow: 1px 1px 6px rgba($color: $black, $alpha: 0.05);
  //   backdrop-filter: blur(10px);
  @include flex;
  justify-content: flex-end;
  z-index: 2;
  transition: 0.2s 0.2s;
  transform: translateX(-50%);
  &.main__header__active {
    top: 0;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  padding-right: 8px;
  > span {
    display: block;
    width: 20px;
    height: 2px;
    background: rgba($color: $black, $alpha: 0.8);
    border-radius: 2px;
    transform: translate(0);
    opacity: 1;
    transition: 0.2s;
  }

  &.hamburger__active {
    span {
      &:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
      }
    }
  }
}
