@import '@/styles/variables.scss';

.account_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6cadc;
  position: relative;

  .title {
    transform: translateY(-100px);
    margin-bottom: 80px;
    h3 {
      letter-spacing: 4px;
    }
  }

  .account_container {
    transform: translateY(-100px);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    gap: 20px;
    text-align: center;

    > li {
      font-size: 14px;
      font-weight: 500;
      line-height: 46px;
      border-radius: 12px;
      color: rgba($color: $black, $alpha: 0.7);
      box-shadow: 1px 1px 3px rgba($color: $black, $alpha: 0.16);
      background-color: #fff;
    }
  }

  .ending {
    background: rgba($color: $gray, $alpha: 0.2);
    padding: 10px 10px;
    font-size: 13px;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    p {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
      b {
        color: $blue;
      }
    }
  }
  address {
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba($color: $black, $alpha: 0.7);
  }
}
