@import '@/styles/variables.scss';

.calendar_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_days {
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.calendar_wrapper {
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
  > ul {
    display: grid;
    width: 100%;
    height: 30vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    font-size: 16px;

    > li {
      position: relative;
      opacity: 0.5;
      > p {
        position: relative;
        z-index: 1;
      }
      &:nth-child(7n + 1) {
        color: rgba($color: $red, $alpha: 1);
      }
      &:nth-child(7n + 7) {
        color: rgba($color: $blue, $alpha: 1);
      }

      &.d_day {
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        text-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

.wedding_day {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}
