@import '@/styles/variables.scss';

.introduce_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #fdf5f2;

  h2 {
    font-size: 20px;
    margin-bottom: 80px;
    color: $pink;
    letter-spacing: 2px;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 2px;
    transform: translateY(-40px);
    opacity: 0;

    margin-bottom: 20vh;
    font-family: serif;
    &:nth-child(2) {
      font-family: sans-serif;
      &.active {
        animation: fadeIn 1s forwards;
      }
    }
    &:nth-child(3) {
      font-family: sans-serif;
      &.active {
        animation: fadeIn 1s 1s forwards;
      }
    }
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);
    opacity: 0;
    gap: 80px;

    &.active {
      animation: fadeIn 1s 2s forwards;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
      }
      h4 {
        color: $gray;
        letter-spacing: 2px;
      }
    }
  }
}
