@import '@/styles/variables.scss';

.introduce_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background: #fdf5f2;

  h2 {
    font-size: 20px;
    margin-bottom: 80px;
    color: $pink;
    letter-spacing: 2px;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 2px;
    transform: translateY(-40px);
    opacity: 0;

    margin-bottom: 100px;
    font-family: serif;
    &:last-child {
      margin-bottom: 0;
      font-family: sans-serif;
      &.active {
        animation: fadeIn 1s 1s forwards;
      }
    }

    &.active {
      animation: fadeIn 1s forwards;
    }
  }
}
