@import '@/styles/variables.scss';

.visual_section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 0 !important;
}

.img_box {
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 100%;
  img {
    vertical-align: bottom;
  }
}

.text_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 10px 0;
  z-index: 1;
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;

    > div {
      width: 50%;
      padding: 0 10px;
      border-right: 1px solid $pink;
      position: relative;
      margin-top: 30px;

      &:last-child {
        border: none;
      }

      h4 {
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        color: $pink;
        letter-spacing: 10px;
      }

      h2 {
        font-size: 26px;
      }
    }
  }

  .location {
    text-align: center;
    h5 {
      font-size: 16px;
      letter-spacing: 3px;
      margin-bottom: 8px;
    }
  }
}
