@import '@/styles/variables.scss';

.contact_wrapper {
  padding: 50px 20px;
  text-align: center;
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
  p {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
  h6 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
  }
}
